- referenceId: HCIH5RS1
  pipelines:
    - name: techdocs-v1
      parameters:
        entityReference: default/component/product-summary
        indexFile: README.md
        sourceDir: ./docs/
      when:
        - event: push
          source: branch
          regex: master
          path:
            - "docs/**"
            - ".vtex/deployment.yaml"
            - ".vtex/deployment.json"
            - "README.md"
