{
  "extends": "vtex",
  "root": true,
  "env": {
    "node": true
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "parser": "babel-eslint",
      "parserOptions": {
        "sourceType": "module"
      }
    }
  ]
}