{
  "extends": "vtex-react/io",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": "off"
  },
  "overrides": [
    {
      "files": ["**/*.{js,jsx}"],
      "parser": "babel-eslint",
      "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        }
      }
    }
  ]
}