.vtex-product-summary--normal {
  width: 281px;
}

.vtex-product-summary__buy-button {
  width: 140px;
}

.vtex-product-summary__buy-button button {
  width: inherit;
}

.vtex-product-summary .vtex-product-name-loader {
  height: 5em;
}

a.clear-link {
  text-decoration: inherit;
  color: inherit;
}

.vtex-product-summary--inline .vtex-product-name__brand,
.vtex-product-summary--small .vtex-product-name__brand {
  font-size: inherit;
}

/* Small */
@media screen and (min-width: 20em) {
  .vtex-product-summary .vtex-price-list__container {
    font-size: 0.75rem;
  }

  .vtex-product-summary .vtex-price-selling__container {
    font-size: 1rem;
  }

  .vtex-product-summary .vtex-price-installments__container {
    font-size: 0.75rem;
  }
}

/* Not Small */
@media screen and (min-width: 40em) {
  .vtex-product-summary .vtex-price-list__container {
    font-size: 0.875rem;
  }

  .vtex-product-summary .vtex-price-selling__container {
    font-size: 1.25rem;
  }

  .vtex-product-summary .vtex-price-installments__container {
    font-size: 0.875rem;
  }

  .vtex-product-summary--inline .vtex-price-list__container,
  .vtex-product-summary--small .vtex-price-list__container {
    font-size: 0.75rem;
  }

  .vtex-product-summary--inline .vtex-price-selling__container,
  .vtex-product-summary--small .vtex-price-selling__container {
    font-size: 1rem;
  }

  .vtex-product-summary--inline .vtex-price-installments__container,
  .vtex-product-summary--small .vtex-price-installments__container {
    font-size: 0.75rem;
  }
}

.vtex-aspect-ratio {
  padding-top: 100%;
  background: center / contain no-repeat;
}
