.imageContainer {}
.container {}
.containerSmall {}
.containerInline {}
.imageContainer {}
.information {}
.element {}
.image {}
.buyButtonContainer {}
.buyButton {}
.description {}

.isHidden {
  visibility: hidden;
}

.containerNormal {}

.clearLink {
  text-decoration: inherit;
  color: inherit;
}

.aspectRatio {
  padding-top: 100%;
  background: center / contain no-repeat;
}

.nameContainer {}

.priceContainer {}