.imageContainer {}
.container {}
.containerSmall {}
.containerInline {}
.imageContainer {}
.information {}
.element {}
.image {}
.buyButtonContainer {}
.buyButton {}
.aspectRatio {}

.isHidden {
  visibility: hidden;
}

.containerNormal {
  width: 281px;
}

.clearLink {
  text-decoration: inherit;
  color: inherit;
}

.nameContainer {
  height: 3.25rem;
}

.priceContainer {
  height: 6.25rem;
}