:global .vtex-product-summary {
  width: 281px;
  -webkit-transition: box-shadow 0.25s; /* Safari */
  transition: box-shadow 0.25s;
}

:global .vtex-product-summary:hover {
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

:global .vtex-product-summary__name-container {
  height: 65px;
}

:global .vtex-price-container {
  height: 65px;
}

:global .vtex-product-summary__image-container {
  width: 176px;
  height: 176.3px;
}

:global .vtex-product-summary__image {
  max-width: 176px;
  max-height: 176.3px;
  margin: auto;
}

:global .vtex-product-summary__buy-button-container {
  height: 50px;
}

:global .vtex-product-summary__buy-button {
  width: 140px;
  height: 38px;
}

:global .vtex-product-summary button {
  width: 140px;
  height: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:global a.clear-link {
  text-decoration: inherit;
  color: inherit;
}
