:global .vtex-product-summary__buy-button {
  width: 212px;
  height: 38px;
}

:global .vtex-product-summary {
  width: 281px;
  height: 380px;
  -webkit-transition: box-shadow 0.25s; /* Safari */
  transition: box-shadow 0.25s;
}

:global .vtex-product-summary:hover {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

:global .vtex-product-summary__image {
  max-width: 176px;
  max-height: 176.3px;
}

:global .vtex-product-summary button {
  width: 212px;
  height: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
