@import url(//io.vtex.com.br/fonts/fabriga/stylesheet.css);
body,button,input,optgroup,select,textarea,span,h1,h2,h3,h4,p1 {
  font-family: Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif
}

html, body, #render-container, #render-provider, #render-provider > article {
  min-height: 100%;
}

body {
  background-color: white;
}

.buy-button {
  max-width: 187px;
  max-height: 42px;
}

.summary-card {
  max-width: 395px;
  max-height: 428px;
}

.summary-image {
  max-width: 198px;
  max-height: 198px;
}
