@import url('~slick-carousel/slick/slick.css');
@import url('~slick-carousel/slick/slick-theme.css');

/* Arrows */
.vtex-product-image .slick-prev.slick-disabled:before,
.vtex-product-image .slick-next.slick-disabled:before
{
    color: inherit;
}

.vtex-product-image .slick-prev:before,
.vtex-product-image .slick-next:before
{
    font-size: 2rem;
    color: inherit;
}

.vtex-product-image .vtex-product-image__vertical-arrow--prev,
.vtex-product-image .vtex-product-image__vertical-arrow--next
{
    transform: rotate(90deg);
    position: relative;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 999;
    color: black;
}

.vtex-product-image .vtex-product-image__horizontal-arrow--prev
{
    left: 0px;
    z-index: 999;
    color: black;
}

.vtex-product-image .vtex-product-image__horizontal-arrow--next
{
    right: 0px;
    z-index: 999;
    color: black;
}

.vtex-product-image .slick-next
{
    right: -0.7rem;
}

/* Dots */
.vtex-product-image .slick-dots li button
{
    color: inherit;
}

.vtex-product-image .slick-dots li button:before
{
    font-size: 1rem;
    color: inherit;
}

.vtex-product-image .slick-dots li.slick-active button:before
{
    color: inherit;
}