@import url(//io.vtex.com.br/fonts/fabriga/stylesheet.css);
body,button,input,optgroup,select,textarea,span,h1,h2,h3,h4,p1 {
  font-family: Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif
}

html, body, #render-container, #render-provider, #render-provider > article {
  min-height: 100%;
}

body {
  background-color: white;
}

.vtex-product-summary__buy-button {
  width: 187px;
  height: 42px;
}

.vtex-product-summary {
  width: 395px;
  height: 428px;
  -webkit-transition: box-shadow 0.25s; /* Safari */
  transition: box-shadow 0.25s;
}

.vtex-product-summary:hover {
  box-shadow: 4px 4px 8px 0 rgba(0,0,0,.2)
}

.vtex-product-summary__image {
  max-width: 198px;
  max-height: 198px;
}
